extends layout

block content
  .col-md-10.col-md-offset-1
    .add-form(ng-show='showForm')
      .panel.panel-default
        .panel-body
          label(for='title') Title
          input.form-control.add(type='text' id='title' placeholder='Title' ng-model='post.title')
          
          label(for='author') Author
          input.form-control.add(type='text' id='author' placeholder='Author' ng-model='post.author')
          
          label(for='image') Image URL
          input.form-control.add(type='text' id='image' placeholder='Image URL' ng-model='post.image')
          
          label(for='description') Description
          input.form-control.add(type='text' id='description' placeholder='Description' ng-model='post.description')
          
          button#add-button(type='submit' ng-click='addPost()') Add New Post
          span.invalid(ng-show='invalid') Please fill in all fields.
      
    .panel.panel-default(ng-repeat='post in posts | orderBy: sort | filter: search')
      .panel-body
        img(src='{{post.image}}')
        .content
          h4 {{post.title}} | 
            span.glyphicon.glyphicon-arrow-up(aria-hidden='true' ng-click='upvote(post)') 
            span.glyphicon.glyphicon-arrow-down(aria-hidden='true' ng-click='downvote(post)')&nbsp;
            span(ng-class='{positive: post.numVotes > 0, negative: post.numVotes < 0}') {{post.numVotes}}
          .author 
            p By: {{post.author}}
          .description
            p {{post.description}}
            p {{post.datePosted | amCalendar}} &nbsp;|
              span.view(ng-click='toggleCommentView()') &nbsp; View {{post.comments.length}} 
                <ng-pluralize count='post.comments.length' when="{'1': 'Comment', 'other': 'Comments'}">
                </ng-pluralize> &nbsp; | 
              span.add(ng-click='toggleCommentForm(post)') &nbsp; Add Comments
              
            form.form-inline.add-comment(ng-show='commentForm')
              .form-group
                label(for='commenter' class='comment-label') Author 
                input(type='text' id='commenter' placeholder='Username' ng-model='commenter')
              .form-group
                label.comment-label(for='comment') Comment 
                input(type='text' id='comment' placeholder='Comment Text' ng-model='comment')
              button.btn.btn-default(type='submit' ng-click='addComment(post, commenter, comment)') Add Comment
            
            .comments(ng-repeat='comment in post.comments' ng-show='comments')
              hr
              p.comment {{comment.author}} - 
                span#content {{comment.comment}}
          
          
          
//
