.post {
  border: 1px solid;
}

.panel {
  background-color: whitesmoke;
}

img {
  max-width: 215px;
  margin-right: 12px;
  float: left;
}

.author {
  text-align: right;
}

input.form-control.add {
  margin-bottom: 14px;
}

input.form-control#search {
  margin-right: 4px;
}

#add-button{
  margin-top: 14px;
  margin-right: 14px;
}

span.invalid {
  color: red;
}







/**/
